[Unit]
Description=Pypeline instance %I.
After=hpdaq.service
After=network.target
Requires=network.target

[Service]
EnvironmentFile=/home/cosmic/src/pypeline_stages/systemd_service/pypeline_service.conf
Restart=on-failure
Type=simple
ExecStart=/home/cosmic/anaconda3/envs/cosmic_vla/bin/python3 /home/cosmic/anaconda3/envs/cosmic_vla/bin/pypeline %i hpdaq --workers $PYPELINE_WORKERS --queue-limit $PYPELINE_QUEUE_LIMIT --log-directory $PYPELINE_LOG_DIRECTORY
StandardOutput=append:/var/log/pypeline_%i.log
StandardError=append:/var/log/pypeline_%i.log

[Install]
WantedBy=multi-user.target
